body {
    margin: 0 auto;
    font-family: "Smythe", sans-serif;
    text-align: center;
    width: 640px;
} 

/* Hero Content */
header {
    display: flex;
    justify-content: center;
    color: white;
    width: 100%;
}

.banner-content {
    position: relative;
    width: 100%;
    height: 167px;
    
    background-image: url("images/Banner.jfif");
    background-repeat: no-repeat;
    background-position: 50% 70%;
}

.hero-title, .hero-motto {
    font-weight: 400;
    margin: 0px 0px 5px 0px;
    position: absolute;
    left: 7%;
}

.hero-title {
    font-size: 2.4rem;
    top: 25%;
}

.hero-motto {
    font-size: 1.4rem;
    top: 50%;
}

/* Individual Items */
.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.choice {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #D2D2D2;
    padding: 20px 0px;
}

.product-container {
    display: flex;
    justify-content: start;
}

.emoji {
    font-size: 50px;
    margin: 40px 10px;
}

.details-container {
    text-align: start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 5px;
}

.product-name, .ingredients, .price {
    font-weight: 400;
    margin: 2px 0px;
}

.product-name {
    font-size: 28px;
}

.ingredients {
    color: #8B8B8B;
}

.price {
    font-size: 20px;
}

.button-container {
    padding: 1em;
}

.add-btn {
    font-family: 'Inter';
    font-weight: 200;
    font-size: 2rem;
    border: 1px solid #DEDEDE;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #FFFFFF;
}

.add-btn:hover, .add-btn:focus {
    background-color: #DEDEDE;
    color: white;
    cursor: pointer;
}


/* Order Styling */
.order {
    display: none;
    width: 600px;
    margin: 30px auto;
}

.order-header {
    font-weight: 400;
    font-size: 28px;
    margin: 0px;
}

.order-items-container {
    margin-top: 30px;
}

.order-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 100%;
    margin: 10px 0px;
    padding: 20px 0px;
    border-bottom: 2px solid #393333;
}

.items {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.item-name {
    font-size: 28px;
    margin: 5px 0px;
}

.remove-item {
    color: #BBBBBB;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    font-weight: 400;
    font-size: 16px;
    margin-left: 15px;
}

.remove-item:hover {
    cursor: pointer;
    border-bottom: 1px solid #BBBBBB;
}

.price {
    margin-top: 0px;
    font-weight: 400;
    font-size: 20px;
}

.total-order {
    display: flex;
    justify-content: space-between;
    margin: 20px 0px;
    border-top: 2px solid #393333;
    padding-top: 1em;
}

.total-price {
    font-size: 28px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 0px;
}

.order-btn {
    background: #16DB99;
    border: none;
    width: 100%;
    padding: 20px 0px;
    font-size: 1rem;
    color: #FFFFFF;
    font-weight: 700;
}

.order-btn:hover {
    cursor: pointer;
    background: #13B17B;
}

/* Transaction Modal */
.transaction-modal {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

    height: 500px;
    width: 524px;
    background: #FFFFFF;
    box-shadow: 5.19px 5.19px 255px 0px #000000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 3.89px;
}

.modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
}

.modal-content h2 {
    font-size: 1.5rem;
    margin: 1.9em 0;
}

.transaction-form {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100%;
}

.transaction-form input {
    font-size: 1.25rem;
    width: 87%;
    padding: 1em;
    margin: 0.5em 0px;
    border: 1.3px solid #757575;
    border-radius: 3px;
}

.submit-btn {
    position: absolute;
    color: #FFFFFF;
    background: #16DB99;
    width: 87%;
    padding: 0.8em;
    margin: 1.5em 0px;
    border: none;
    font-size: 1.25rem;
    font-weight: 700;
    top: 380px;
}

.submit-btn:hover {
    cursor: pointer;
    background: #13B17B;
}

/* Confirmation Message */
#confirmation {
    display: none;
    color: #065F46;
    width: 80%;
    font-size: 2rem;
    font-weight: 400;
    background: #ECFDF5;
    margin-top: 1em;
    margin: 1em auto;

    border: 1px solid black;
}