body {
    margin: 0;
    font-family: "Smythe", sans-serif;
    text-align: center;
} 

header {
    display: flex;    
    flex-direction: column;
    align-items: start;

    width: 600px;
    margin: 0px auto;

    color: white;

    background-image: url("images/Banner.jfif");
    background-repeat: no-repeat;
    background-position: center;

    padding: 70px 0px;
}

.banner-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    width: 300px;
}

.hero-title, .hero-motto {
    margin: 5px 0px 0px 0px;
}

.choice-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid grey;
}

.choice {
    width: 30%;
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid grey;

    padding: 20px 0px;
}

.product-container {
    display: flex;
    justify-content: start;
    width: 50%;
}

.emoji {
    font-size: 50px;
    margin: 40px 10px;
}

.details-container {
    text-align: start;
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 0px 5px;
}

.product-name, .ingredients, .price {
    font-weight: 400;
    margin: 2px 0px;
}

.product-name {
    font-size: 28px;
}

.ingredients {
    color: #8B8B8B;
}

.price {
    font-size: 20px;
}


.add-btn {
    font-family: 'Inter';
    font-weight: 200;
    font-size: 2rem;
    border: 1px solid #DEDEDE;
    border-radius: 50px;
    padding: 10px 20px;
}

.add-btn:hover, .add-btn:focus {
    background-color: #DEDEDE;
    color: white;
    cursor: pointer;
}

